<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ok_thank.you.mapper.DiaryMapper">
	<select id="asyncList" resultType="com.ok_thank.you.dto.Diary">
		SELECT @ROWNUM := @ROWNUM+1 AS rnum
			  ,d.idx
			  ,d.writer
			  ,d.content
			  ,date_format(d.reg_dt,'%Y-%m-%d %H:%i:%S') AS regDt
			  ,date_format(d.udt_dt,'%Y-%m-%d %H:%i:%S') AS udtDt
		FROM DIARY d, (SELECT @ROWNUM := 0) r
		WHERE d.writer = 'Lee'
		ORDER BY idx DESC
	</select>
	<insert id="asyncInsert">
		INSERT INTO DIARY(writer
						 ,content
						 ,reg_dt
						 ,udt_dt)
		VALUES(#{writer}
			  ,#{content}
			  ,now()
			  ,now())
	</insert>
	<delete id="asyncDelete">
		DELETE FROM DIARY
		WHERE IDX = #{idx}
	</delete>
	<select id="getRowCnt" resultType="Integer">
		SELECT COUNT(*)
		FROM DIARY
		WHERE WRITER = #{writer}
	</select>

	<select id="list" resultType="com.ok_thank.you.dto.Diary">
		SELECT
			FORMAT(@ROWNUM := @ROWNUM+1, 0) AS RNUM
			,D.IDX
			,D.WRITER
			,D.CONTENT
			,date_format(D.REG_DT,'%Y-%m-%d') as REG_DT
			,D.UDT_DT
		FROM DIARY D ,(SELECT @ROWNUM:=0) R
		WHERE D.WRITER ='Kim'
		ORDER BY IDX 
	</select>
	<delete id="del">
		delete from DIARY where IDX=#{idx}
	</delete>
	
	<insert id="insert">
		insert into DIARY(WRITER,CONTENT,REG_DT,UDT_DT) 
					VALUES('Kim',#{content},now(),now())
	</insert>
	
	<select id="aList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			FORMAT(@ROWNUM := @ROWNUM+1, 0) AS RNUM
			,D.IDX
			,D.WRITER
			,D.CONTENT
			,date_format(D.REG_DT,'%Y-%m-%d') as REG_DT
			,D.UDT_DT
		FROM DIARY D ,(SELECT @ROWNUM:=0) R
		WHERE D.WRITER ='Kim'
		ORDER BY IDX 
	</select>
	<select id="rowCnt" resultType="int">
		select count(*) from DIARY where WRITER ='Kim'
	</select>
</mapper>